html,
body,
#simulator {
    margin: 0;
    height: 100%;
    width: 100%;
}

#simulator_canvas {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #430202; /*#555555*/
}

#wait_screen {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#wait_screen p {
    color:white;
    background-color: black;
    padding: 0.5rem;
    margin: 0px;
    border-radius: 5px;
    user-select: none;
}
