html,
body,
#simulator {
    margin: 0;
    height: 100%;
    width: 100%;
}

#simulator_canvas {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #555555; /*#430202*/
}

#wait_screen {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#wait_screen div {
    flex-direction: column;
    background-color: black;
    border-radius: 5px;
}

#wait_screen p {
    color: white;
    padding: 0.5rem;
    margin: 0px;
    user-select: none;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fade_out {
    animation: fadeOut 0.5s forwards;
}

.fade_in {
    animation: fadeOut 0.5s backwards;
}
